fastapi==0.116.1
fitz==0.0.1.dev2
huggingface_hub==0.33.4
numpy==2.3.1
pydantic==1.10.22
pydantic_settings==2.10.1
pymongo==3.12.0
python-dotenv==1.1.1
scikit_learn==1.7.1
streamlit==1.45.1
python-dotenv